* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.negrito{
    font-weight: bold;
}

li{
    font-family: 'Courier New', Courier, monospace;
}